<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nageoffer.shortlink.admin.dao.mapper.AgentMessageMapper">

    <resultMap id="BaseResultMap" type="com.nageoffer.shortlink.admin.dao.entity.AgentMessage">
            <id property="id" column="id" />
            <result property="sessionId" column="session_id" />
            <result property="messageType" column="message_type" />
            <result property="messageContent" column="message_content" />
            <result property="messageSeq" column="message_seq" />
            <result property="parentMsgId" column="parent_msg_id" />
            <result property="tokenCount" column="token_count" />
            <result property="responseTime" column="response_time" />
            <result property="errorMessage" column="error_message" />
            <result property="createTime" column="create_time" />
            <result property="delFlag" column="del_flag" />
    </resultMap>

    <sql id="Base_Column_List">
        id,session_id,message_type,message_content,message_seq,parent_msg_id,
        token_count,response_time,error_message,create_time,del_flag
    </sql>


</mapper>
